:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --clr-pink: #A140FD;
    --clr-skyblue: #21A5EE;
    --clr-background: #F4F7FC;
    --clr-grey-white: #87888B;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
  }
  body{
    height: 100vh;
    background: var(--clr-background);
  }
  .container{
    display: flex;
  }
  .container .Side-image{
    height: 100vh;
    width: 50%;
    background: #21A5EE;
  }
  .container .contents{
    height: 100vh;
    width: 50%;
    position: relative
  }
  .container .contents .logo{
    position: absolute;
    right: 0;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    color: var(--clr-black);
  }
  .container .contents .logo a{
    text-decoration: none;
    color: var(--clr-black);
  }
  .container .contents .logo span{
    color: var(--clr-skyblue);
    font-weight: 600;
  }
  .container .contents .header{
    margin-top: 8rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
  }
  .container .contents .inputs{
    margin-top: 2.5rem;
    margin-left: 9rem;
  }
  .container .contents .inputs input{
    width: 75%;
    height: 35px;
    margin-top: 20px;
    border: 1.2px solid var(--clr-grey-white);
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--clr-black);
  }
  .container .contents .inputs input::placeholder{
    color: var(--clr-grey-white);
    font-size: 10px;
    letter-spacing: 1px;
  }
  .container .contents .forgot{
    margin-left: 23rem;
    margin-top: 10px;
    font-size: 10px;
    color: blue;
    cursor: pointer;
  }
  .container .contents .sign-up{
    margin-top: 2rem;
    margin-left: 9rem;
  }
  .container .contents .sign-up button{
    width: 75%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #BBBBBB;
    cursor: not-allowed;
    color: var(--clr-white);
  }
  .container .contents .have-account{
    margin-top: 8rem;
    font-size: 12px;
    margin-left: 14rem;
    letter-spacing: 1px;
  }
  .container .contents .have-account span{
    color: var(--clr-grey-white);
  }
  .container .contents .have-account a{
    color: var(--clr-black);
    text-decoration: none;
    margin-left: 2px;
  }
  @media screen and (max-width: 900px) {
    .container .Side-image{
        display: none;
    }
    .container .contents{
        width: 100%;
    }
    .container .contents .logo{
        font-size: 20px;
        left: 0;
        padding: 20px;
    }
    .container .contents .header{
        margin-top: 20rem;
        font-size: 1.5rem;
    }
    .container .contents .inputs input{
        height: 55px;
        margin-top: 1.5rem;
        font-size: 20px;
        color: var(--clr-black);
    }
    .container .contents .inputs input::placeholder{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .container .contents .sign-up button{
        height: 55px;
    }
    .container .contents .sign-up button a{
        font-size: 22px;
    }
    .container .contents .have-account{
        margin-left: 35%;
        margin-top: 13rem;
        font-size: 18px;
    }
  }

  @media screen and (max-width: 500px){
    .container .contents .header{
        margin-top: 10rem;
    }
    .container .contents .inputs{
        margin-left: 25px;
    }
    .container .contents .inputs input{
        width: 95%;
    }
    .container .contents .sign-up{
        margin-left: 25px;
    }
    .container .contents .sign-up button{
        width: 95%;
    }
    .container .contents .have-account{
        margin-left: 23%;
        margin-top: 10rem;
    }
    .container .contents .inputs input::placeholder{
        font-size: 15px;
  }
}
  @media screen and (max-width: 400px) {
    .container .contents .have-account{
        font-size: 12px;
        margin-left: 30%;
    }
  }