:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-pink: #A140FD;
  --clr-skyblue: #21A5EE;
  --clr-background: #F4F7FC;
  --clr-grey-white: #87888B;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  background: #161c24;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  padding: 10px;
  left: 0;
  position: absolute;
  margin-top: 7px;
  font-size: 15px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  color: var(--clr-white);
  cursor: pointer;
}
.logo a{
  color: #fff;
  text-decoration: none;
}
.logo span{
  color: var(--clr-skyblue);
  font-weight: 600;
}
form{
  height: 32rem;
  width: 32rem;
  resize: none;
  background: rgb(37, 48, 61);
  border-radius: 15px;
  border: 0.5px solid #2f3e4f;
  padding: 5rem 14px 0px 14px;
  position: relative;
}
.container form .login-title{
  color: var(--clr-white);
  font-size: 24px;
  text-align: center;
  font-weight: 600;
 }
 .container form p{
  color: #8a96a3;
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
}
.container form .inputs{
  position: relative;
}
.container form .inputs .form-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  position: relative;
}
.container form .inputs .labelEmail{
  position: absolute;
  left: 12%;
  color: #c3c5c9;
  font-size: 11px;
  top: 2.9rem;
  z-index: 1;
  padding: 0px 6px 0px;
  background: rgb(37, 48, 61);
}
.container form .inputs .labelPassword{
  position: absolute;
  left: 12%;
  top: 6.8rem;
  z-index: 1;
  padding: 0px 6px 0px;
  background: rgb(37, 48, 61);
  color: #c3c5c9;
  font-size: 11px;
}
.container form .inputs .form-inputs input{
  margin-top: 20px;
  height: 40px;
  width: 80%;
  padding: 10px;
  outline: none;
  background: transparent;
  border: 1.5px solid #3c4752;
  border-radius: 10px;
  color: var(--clr-white);
}
.container form .inputs .form-inputs input:hover{
  border: 2px solid #fff;
}
.container form .inputs .form-inputs input:focus{
  border: 2px solid #385bf5;
}
.container form .inputs .form-inputs input::placeholder{
  color: #fff;
}

.container form .inputs .form-inputs input[type="submit"]{
  width: 100%;
  height: 42px;
  width: 80%;
  outline: none;
  border: none;
  background: #5a78ff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer; 
}
.container form .inputs button:hover{
  background: rgb(60, 60, 234);
}
.signIn{
  position: absolute;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  top: 50%;
  pointer-events: none;
}
.container form .inputs .dont-have{
  text-align: center;
  margin-top: 5rem;
  font-size: 13px;
}
.container form .inputs .dont-have a{
  color: #385bf5;
  font-size: 13px;
  text-decoration: none;
}
#model{
  background: #cb2f32;
  position: absolute;
  bottom: 2%;
  left: 17%;
  transform: translate(-50%,-50%);
  height: 45px;
  width: 30%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: animateModel;
  animation-duration: .5s;
  border-radius: 5px;
  color: #fff;
}
#close{
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  font-size: 23px;
  transition: .2s;
}
#close:hover{
  transform: scale(1.2);
}
#model-container{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@keyframes animateModel {
  from{
  left: -300px;
  opacity: 0;
  }
  to{
      left: 17%;
      opacity: 1;
  }
}
.loader {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 9999px;
  border: 2px solid #fff;
  border-right-color: transparent;
  animation: spin 1.5s linear infinite;
  vertical-align: middle;
}
.buttonLoading{
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
.buttonLoading span{
 color: #fff;
 pointer-events: none;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  form{
      width: 90vw;
  }
}
