:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --clr-pink: #A140FD;
    --clr-skyblue: #21A5EE;
    --clr-background: #F4F7FC;
    --clr-grey-white: #87888B;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
  }
  body{
    background: var(--clr-background);
  }
  .logo{
    padding: 10px;
    position: absolute;
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    position: fixed;
  }
  .logo span{
    color: var(--clr-skyblue);
  }
  nav{
    width: 100%;
    height: 60px;
    position: sticky;
  }
  nav a{
    margin-right: 30px;
    padding-top: 20px;
    display: flex;
    float: right;
    text-decoration: none;
    color: var(--clr-skyblue);
    cursor: pointer;
    font-size: 1.1rem;
  }
  nav a:hover{
    text-decoration: underline;
  }
  nav .nav-contents{
    margin-right: 10rem;
  }
  nav .active{
    color: #9340FB;
    font-weight: 600;
  }
  nav button{
    position: absolute;
    right: 0;
    height: 30px;
    width: 5rem;
    margin-right: 5rem;
    margin-top: 13px;
    background: var(--clr-skyblue);
    color: var(--clr-white);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  nav img{
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 40px;
    margin-right: 1.5rem;
    margin-top: 7px;
  }
  .fixed-elipse{
    position: fixed;
    top: 20%;
    right: -100px;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(200deg,#9F40FC,#21A5EE);
    border-radius: 50%;
    opacity: 0.1;
  }
  .menu-icons #menu-icon{
    position: absolute;
    height: 17px;
    width: 30px;
    right: 0;
    margin-right: 10px;
    margin-top: 18px;
    display: none;
    position: fixed;
  }
  @media screen and (max-width: 950px) {
    nav .dark{
      position: fixed;
    }
    nav a{
      opacity: 0;
      position: absolute;
      height: auto;
      width: auto;
      background: grey;
      right: 0;
      top: 4%;
      display: flex;
      flex-direction: column;
    }
    .menu-icons #menu-icon{
        display: block;
    }

    nav button{
        opacity: 0;
    }
    nav img{
        margin-right: 3.3rem;
        height: 2.5rem;
    }
  }
  .about-me {
    display: flex;
    position: relative; 
    padding: 0px 30px 0px;
    width: 100%;
    margin-top: 5rem;
  }
  .about-me .profile {
    height: 25rem;
    width: 50%;
  }
  
  .about-me .my-names {
    left: 0;
    height: 12rem;
    width: 50%;
    margin-top: 6rem;
  }
  
  .about-me .profile {
    right: 0;
    padding: 0px 20px 0px;
  } 
  @media screen and (max-width: 850px) {
    .about-me {
      display: flex;
      flex-direction: column;
    }
    .about-me .my-names,
    .about-me .profile {
      position: static;  
      width: 100%;     
    }
  }
  .about-me .my-names .hey{
    font-size: 2rem;
  }
  .about-me .my-names .names{
    font-size: 3rem;
    color: #fff;
    display: flex;
    font-weight: 100;
    margin-top: 10px;
    background: linear-gradient(to right,#9340FB,var(--clr-skyblue));
    background-clip: text;
    color: transparent;
  }
  .about-me .my-names .title{
    font-size: 1rem;
    color: var(--clr-grey-white);
    margin-top: 10px;
  }
  .about-me .profile img{
    height: 8rem;
    margin-left: 35%;
  }
  .about-me .profile .who{
    font-size: 2rem;
    color: #fff;
    display: flex;
    font-weight: 100;
    margin-top: 10px;
    background: linear-gradient(to right,var(--clr-skyblue),#9340FB);
    background-clip: text;
    color: transparent;
    margin-left: 31%;
  }
  .about-me .profile span{
   font-weight: 200;
   line-height: 1.6;
   padding-left: 2rem 0px 0px 0px;
  }
  @media screen and (max-width: 450px) {
    .about-me .my-names .hey{
      font-size: 1.5rem;
    }
    .about-me .my-names .names{
      font-size: 2rem;
    }
    .about-me .profile img{
      margin-left: 25%;
    }
    .about-me .profile .who{
      margin-left: 19%;
      font-size: 2rem;
    }
    .about-me .profile{
      padding: 0px 0px 0px;
    }
  }
  .about-me .intro{
    position: absolute;
    width: 90%;
    margin-top: 20rem;
    padding: 0px 10rem 0px;
  }
  .about-me .intro span{
    display: flex;
  }
  .about-me .intro .introduction{
    margin-left: 12rem;
    font-size: 1.9rem;
    color: var(--clr-grey-white);
  }
  .about-me .intro .title{
    font-size: 2rem;
    margin-top: 12px;
  }
  .about-me .intro .text{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 10px;
    color: var(--clr-grey-white);
  }
  .about-me .intro p{
    color: #fff;
  }
  @media screen and (max-width: 853px) {
    .about-me .intro{
      margin-top: 40rem;
      padding: 0px;
    }
  }
  @media screen and (max-width: 470px) {
    .about-me .intro .introduction{
      margin-left: 5rem;
    }
    .about-me .intro .title{
      font-size: 1.3rem;
    }
  }
  .cv{
    margin-top: 12rem;
    margin-left: 30rem;
  }
  .cv button{
    height: 40px;
    width: 10rem;
    border-radius: 5px;
    border: none;
    background: #675C9C;
  }
  .cv button a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  @media screen and (max-width: 970px) {
    .cv{
      margin-top: 15rem;
      margin-left: 20rem;
    }
  }
  @media screen and (max-width: 850px) {
    .cv{
      margin-top: 10rem;
      margin-left: 20rem;
    }
  }
  @media screen and (max-width: 450px) {
    .cv{
      margin-top: 15rem;
      margin-left: 5rem;
    }
  }
  @media screen and (max-width: 550px) {
    .cv{
      margin-top: 15rem;
      margin-left: 10rem;
    }
  }
  @media screen and (max-width: 400px) {
    .cv{
      margin-top: 17rem;
      margin-left: 7rem;
    }
  }
.skills{
  padding-right: 10px;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.skills .cards{
  margin-left: 20px;
  height: 20rem;
  border: 1px solid #9340FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.skills .cards img{
  height: 70px;
}
.skills .cards span{
  font-size: 20px;
  font-weight: 500;
}
.skills .cards p{
  font-size: 14px;
  margin-top: 15px;
  color: var(--clr-grey-white);
  line-height: 1.6;
}
.other-skills{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  margin-top: 20px;
  margin-left: 3rem;
  gap: 15px;
}
.other-skills img{
  height: 50px;
}
@media screen and (max-width: 700px) {
  .other-skills{
    margin-left: 1rem;
  }
}
.works .title{
    font-size: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    margin-top: 30px;
    background: linear-gradient(300deg,#9340FB,#23A0EF);
    background-clip: text;
    color: transparent;
}
.works .projects{
  width: 100%;
  padding-right: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px;
  gap: 20px;
}
.works .projects .project-title{
  height: 30px;
  width: 180px;
  background: #fff;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 22%;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.works .projects .img{
  height: 15rem;
  width: 22rem;
  margin-top: 10px;
}
.works .projects .calculator{
  border: 1px solid var(--clr-grey-white);
  border-radius: 10px;
}
@media screen and (max-width: 639px) {
  .works .projects .img{
    width: 100%;
    height: 20rem;
  }
}
.blog-title{
    font-size: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(300deg,#9340FB,#23A0EF);
    background-clip: text;
    color: transparent;
    margin-top: 40px;
}
.blogs{
  padding-right: 10px;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.blogs .cards{
  margin-left: 20px;
  height: 25rem;
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.blogs .cards .dates{
  padding: 10px;
  height: 60px;
  width: 60px;
  background: #222;
  position: absolute;
  left: 3%;
  top: 3%;
  text-align: center;
  font-size: 1rem;
  color: var(--clr-white);
  border-radius: 9px;
}
.blogs .cards img{
  height: 15rem;
  width: 100%;
}
.blogs .cards span{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.blogs .cards p{
  font-size: 14px;
  margin-top: 15px;
  color: var(--clr-grey-white);
  line-height: 1.6;
  text-align: center;
}
.hire{
  height: 13rem;
  width: 100%;
  background: #3C3633;
  margin-top: 30px;
}
.hire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--clr-white);
}
.hire button{
  margin: 40px;
  height: 40px;
  width: 10rem;
  cursor: pointer;
  color: white;
  border: none;
  background: #3C3633;
  border: 1.5px solid var(--clr-white);
  transition: .5s;
}
.hire button:hover{
  background: var(--clr-white);
  color: var(--clr-black);
}
@media screen and (max-width: 420px) {
  .hire{
    font-size: 1rem;
    width: 100%;
  }
}
.contacts-title{
  font-size: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(300deg,#9340FB,#23A0EF);
  background-clip: text;
  color: transparent;
  margin-top: 40px;
}
.contacts{
  width:50%;
  margin-left: 30%;
}
.contacts .get{
  margin-top: 30px;
  font-size: 1.5rem;
  color: var(--clr-grey-white);
}
.contacts .email{
  width:450px;
  height: 45px;
  margin-top: 20px;
}
.contacts .names{
  height: 45px;
  width: 450px;
  margin-top: 20px;
}
.contacts .phone{
  height: 45px;
  width: 450px;
  margin-top: 20px;
}
.contacts .message{
  width:450px;
  height: 105px;
  margin-top: 20px;
}
.contacts input{
  color: #87888B;
    padding: 10px;
    border: 1px solid #87888B;
    outline: none;
    border-radius: 3px;
}
.contacts .inputs textarea{
    resize: none;
    border: 1px solid #87888B;
    outline: none;
    padding: 10px;
    color: #87888B;
    border-radius: 3px;
}
.contacts button{
  height: 45px;
  background: #675C9C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 450px;
  margin-top: 10px;
}
@media screen and (max-width: 700px) {
  .contacts{
    margin-left: 2rem;
    width: 90%;
  }
}
@media screen and (max-width: 454px) {
    .contacts .email{
      width: 90%;
    }
    .contacts .message{
      width: 90%;
    }
    .contacts button{
      width: 90%;
    }
    .contacts .phone{
      width: 90%;
    }
    .contacts .names{
      width: 90%;
    }
}
.thanks{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  letter-spacing: 1.5px;
  text-align: center;
}
footer{
  height: 8rem;
  width: 100%;
  background: #183650;
  margin-top: 3rem;
  padding: 0px 0px 0px 40%;
}
footer .text{
  padding: 23px 0px 0px 15px;
  color: var(--clr-white);
}
footer img{
  margin-top: 25px;
  height: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  footer{
    padding: 0px 0px 0px 30%;
  }
}