:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-big-white: #20272e;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #1b2127;
  --clr-pink: #A140FD;
  --clr-skyblue: #21A5EE;
  --clr-hover: #4d4045;
  --clr-background: #1b2127;
  --clr-grey-white: #bbbbbb;
  --clr-dark-background: #303030;
  --clr-hire: #20272e;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(140, 140, 140, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --fieldset-color: #252d36;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}
body{
  background: var(--clr-background);
  transition: background 0.5s, color 0.5s;
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  background: #d1e5ff;
}
body::-webkit-scrollbar-thumb{
  background: #4b5767;
  transition: .5s;
}
body::-webkit-scrollbar-thumb:hover{
  background: #2e353f;
}
svg{
  position: absolute;
  z-index: -1;
}
.logo{
  padding: 10px;
  position: absolute;
  margin-top: 7px;
  font-size: 15px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  color: var(--clr-white);
  cursor: pointer;
}
.logo span{
  color: var(--clr-skyblue);
  font-weight: 600;
}
.menu{
  width: 100%;
  height: 60px;
  background: var(--clr-background);
  position: fixed;
  top: 0;
  z-index: 111;
  transition: 0.5s;
}
.menu .nav-contents{
  display: flex;
  float: right;
  margin-right: 10rem;
}
.menu .nav-contents a{
  margin-right: 17px;
  height: 35px;
  margin-top: 15px;
  background: transparent;
  cursor: pointer;
  color: #23A0EF;
  text-decoration: none;
  font-size: 1.1rem;
}
hr{
  display: none;
  background-color: #000;
}
.menu button{
  position: absolute;
    right: 0;
    height: 30px;
    width: 5rem;
    margin-right: 5rem;
    margin-top: 13px;
    background: var(--clr-skyblue);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.menu button a{
  color: #fff;
  text-decoration: none;
}
.menu a.active{
  color: var(--clr-white);
}
.active-link {
  color: #fff;
}
.menu-icons #menu-icon{
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 40px;
  margin-left: 1.5rem;
  margin-top: 12px;
  font-size: 1.5rem;
  color: var(--clr-skyblue);
  display: none;
  z-index: 222;
}
.dark-theme{
  --clr-background: #edeff9;
  --clr-white: #000;
  --clr-black: #fff;
  --clr-big-white: #ffffff;
  --clr-grey-white: #707174;
  --clr-hire: #fff;
  --fieldset-color: #f0eeee;
  --clr-hover: #eee;
}
.menu .fa-moon{
  color: var(--clr-skyblue);
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
  margin-top: 15px;
  font-size: 25px
}
.menu .fa-sun{
  color: var(--clr-skyblue);
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
  margin-top: 15px;
  font-size: 25px;
  visibility: hidden;
}
.light{
  height: 30px;
  margin-top: 12px;
}
.fixed-elipse{
  position: fixed;
  top: 20%;
  right: -100px;
  width: 250px;
  height: 250px;
  background-image: linear-gradient(200deg,#9F40FC,#21A5EE);
  border-radius: 50%;
  opacity: 0.1;
}

@media screen and (max-width: 950px) {
  .menu{
    background: var(--clr-big-white);
  }
  .menu-icons #menu-icon{
    display: block;

  }
  .menu .nav-contents{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #00294a;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    display: none;
    font-size: 2rem;
    padding-left: 20px;
    animation-name: animate-nav;
  }
  .menu.active-menu .nav-contents{
    display: block;
    transition: .5s;
  }
  .menu.active-menu button{
    display: block;
    border-radius: 0px;
    height: 45px;
    font-size: 25px;
  }
  .menu .nav-contents a{
    background: transparent;
    border: none;
    color: var(--clr-white);
    padding-top: 10px;
    font-size: 1.1rem;
  }
  .menu button{
    position: absolute;
    top: 22rem;
    left: 0;
    width: 100%;
    display: none;
  }
  .logo{
    display: none;
  }
  hr{
    display: block;
    opacity: 0.1;
    margin-top: 15px;
  }
}
.about-me {
  display: flex;
  padding: 0px 30px 0px;
  width: 100%;
  margin-top: 5rem;
}
.about-me .headings{
width: 100%;
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
position: relative;
}
.about-me .headings .myNames {
height: 23rem;
width: 40rem;
display: flex;
flex-direction: column;
justify-content: center;
cursor: pointer;
gap: 15px;
}
.about-me .headings .intro {
  height: 28rem;
  width: 35rem;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  }
  .about-me .myNames .hey{
      font-size: 1.3rem;
      color: var(--clr-white);
      margin-top: 5rem;
      display: flex;
      position: relative;
    }
    .about-me .myNames .names{
      font-size: 2.7rem;
      color: var(--clr-skyblue);
      display: flex;
      font-weight: 100;
      /* margin-top: 10px; */
    } 
    .about-me .myNames .social{
      margin-top: 10px;
      display: flex;
      gap: 20px;
    }
    .about-me .myNames .social a{
      font-size: 1.5rem;
      color: var(--clr-skyblue);
    }
    .about-me .intro .introduction{
      font-size: 1.3rem;
      letter-spacing: 1px;
      text-align: center;
      color: var(--clr-grey-white);
    }
    .about-me .intro .title{
      font-size: 1.6rem;
      opacity: 0.7;
      color: var(--clr-white);
    }
    .about-me .intro .text{
      line-height: 1.6;
      color: var(--clr-grey-white);
    }
    .about-me .intro button{
      height: 40px;
      width: 10rem;
      border-radius: 5px;
      border: none;
      background: #675C9C;
      text-decoration: none;
      color: #fff;
      font-size: 1rem;
      cursor: progress;
    }
    .about-me .profile{
      height: 19rem;
      width: 40rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .about-me .profile img{
      height: 10rem;
      width: 8rem;
      margin-left: 35%;
      border-radius:   56% 44% 45% 55% / 41% 30% 70% 59%;
    }
    .about-me .profile .who{
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      font-weight: 100;
      color: var(--clr-skyblue);
      margin-left: 35%;
    }
    .about-me .profile span{
     font-weight: 200;
     line-height: 1.6;
     font-size: 15px;
     color: var(--clr-white);
     text-align: center;
     opacity: 0.7;
    }
 .title{
  font-size: 1.5rem;
  color: var(--clr-skyblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  margin-top: 30px;
}
.skills{
display: flex;
justify-content: center;
width: 100%;
}
.skills .cards{
height: 14rem;
width: 25%;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
}
.skills .cards img{
height: 50px;
}
.skills .cards span{
font-size: 20px;
font-weight: 500;
color: var(--clr-white);
margin-top: 10px;
}
.skills .cards p{
font-size: 15px;
margin-top: 15px;
color: var(--clr-grey-white);
line-height: 1.6;
text-align: center;
}
.other-skills{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
gap: 35px;
}
.other-skills img{
height: 50px;
}
@media screen and (max-width: 700px) {
.other-skills{
  margin-left: 1rem;
}
}
@media screen and (max-width: 800px) {
  .skills{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .skills .cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    }
}
.works .title{
  font-size: 2rem;
  color: var(--clr-skyblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  margin-top: 30px;
}
.works .projects{
width: 100%;
padding-right: 10px;
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 10px;
gap: 80px;
}
.works .projects .images{
position: relative;
}
.flip-card {
  height: 19rem;
  width: 26rem;
  margin-top: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-back {
  background: var(--clr-background);
  transform: rotateY(180deg);
  gap: 10px;
  padding: 10px;
}
.flip-card-back .backTitle{
  font-size: 20px;
  color: var(--clr-skyblue);
  text-align: center;
}
.flip-card-back p{
  color: var(--clr-grey-white);
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 1.6;
  text-align: left;
}
.flip-card-back a{
  text-decoration: none;
}
.flip-card-back button{
    height: 33px;
    width: 95px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid var(--clr-skyblue);
    cursor: pointer;
    color: var(--clr-skyblue);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 7px;
    cursor: pointer;
    transition: .5s;
}
.flip-card-back button i{
  font-size: 19px;
}
.flip-card-back button:hover{
    border: 1px solid var(--clr-skyblue);
}
.flip-card-back button:focus{
  background: var(--clr-skyblue);
  color: #fff;
}
.flip-card-back .buttons{
  display: flex;
  gap: 10px;
}

.works .projects .project-title{
height: 30px;
width: 180px;
background: var(--clr-big-white);
font-size: 15px;
margin-top: 10px;
margin-left: 22%;
padding: 5px;
border-radius: 50px;
text-align: center;
cursor: pointer;
color: var(--clr-white);
}

.works .projects .img{
height: 19rem;
width: 26rem;
box-shadow: var(--dark-shadow);
cursor: pointer;
}
.works .projects .img:hover{
  background: rgba(0, 0, 0, 0.2);
  z-index: 1111;
}
@media screen and (max-width: 639px) {
.works .projects .img{
  width: 100%;
}
}
@media screen and (max-width: 430px) {
  .flip-card{
    width: 23rem;
  }
}
.blog-title{
  font-size: 1.5rem;
  color: var(--clr-skyblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.blogs{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  }
  .blogs .blog-cards{
  margin-left: 20px;
  height: 28rem;
  width: 25rem;
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  }
.blogs .blog-cards span{
font-size: 20px;
font-weight: 600;
text-align: center;
margin-top: 10px;
color: var(--clr-white);
}
.blogs .blog-cards .blog-description{
font-size: 15px;
color: var(--clr-grey-white);
margin-top: 15px;
color: #9594a1;
line-height: 1.6;
text-align: center;
max-height: 5em;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}
.blogs .blog-cards {
  position: relative;
}

.blogs .blog-cards img {
  height: 17rem;
  width: 100%;
}

.img-hover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ff3040;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 1.5rem;
  height: 28rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs .blog-cards:hover .img-hover {
  opacity: 1;
}

.hire{
height: 13rem;
width: 100%;
background: var(--clr-hire);
margin-top: 30px;
}
.hire{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 2rem;
color: var(--clr-white);
}
.hire .title{
  color: var(--clr-grey-white);
}
.hire button{
margin: 40px;
height: 40px;
width: 10rem;
cursor: pointer;
color: var(--clr-white);
border: none;
background: transparent;
border: 1.5px solid var(--clr-white);
transition: .5s;
}
.hire button:hover{
background: var(--clr-white);
color: var(--clr-black);
}
@media screen and (max-width: 420px) {
.hire{
  font-size: 1rem;
  width: 100%;
}
}
.contacts{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .contacts .inputs{
      display: flex;
      flex-direction: column;
  }
  .contacts input{
      color: var(--clr-white);
      padding: 10px;
      height: 42px;
      border: 1px solid #87888B;
      outline: none;
      border-radius: 3px;
      background: transparent;
      margin-top: 20px;
      width: 450px;
  }

  .contacts .get{
      margin-top: 30px;
      font-size: 1.5rem;
      color: var(--clr-grey-white);
  }
  .contacts input:focus{
  border: 1.5px solid #675C9C;
  }
  .contacts .inputs textarea{
      margin-top: 20px;
      resize: none;
      border: 1px solid #87888B;
      outline: none;
      padding: 10px;
      color: var(--clr-white);
      border-radius: 3px;
      background: transparent;
  }
  .contacts .inputs textarea:focus{
      border: 1.5px solid #675C9C;
  }
  .contacts button{
      height: 45px;
      background: #675C9C;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      width: 450px;
      margin-top: 10px;
  }
  @media screen and (max-width: 530px) {
      .contacts input{
          width: 100%;
      }
      .contacts button{
          width: 100%;
      }
      .contacts{
          padding: 0px 20px 0px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          }
  }.thanks{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 3rem;
letter-spacing: 1.5px;
text-align: center;
color: var(--clr-white);
}
footer{
  height: 8rem;
  margin-top: 20px;
  width: 100%;
  background: #183650;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
   .text{
  color: #fff;
  }
  footer img{
  margin-top: 20px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  }
  footer .sub{
    position: absolute;
    right: 0;
  }
  .subscribe-form {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 35px;
    border-radius: 5px;
  }
  
  .subscribe-input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: 2px solid var(--main-color);
    border-right: 0;
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--font-color);
    background: var(--bg-color);
  }
  
  .subscribe-btn {
    width: 100px;
    height: 100%;
    border: 2px solid var(--main-focus);
    border-radius: 0 5px 5px 0;
    background-color: var(--main-focus);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--bg-color);
    cursor: pointer;
  }
  
  .subscribe-input:focus {
    outline: none;
    border: 2px solid var(--main-focus);
    border-right: 0;
  }
      
  @media screen and (max-width: 600px) {
    footer .sub{
      position: static;
      margin-top: 10px;
    }
  }
.scroll img{
height: 50px;
width: 50px;
cursor: pointer;
animation: bounce 2s infinite;
position: absolute;
right: 0;
}
@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-20px);
  }
  60%{
    transform: translateY(-10px);
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  opacity: 0;
  z-index: -1;
}
.modal-overlay.open-modal {
  opacity: 1;
  z-index: 1111111;
}
.modal-container {
  background: var(--clr-big-white);
  border-radius: var(--radius);
  width: 70%;
  height: 90%;
  text-align: center;
  position: relative;
  overflow-y: scroll;
  padding: 20px;
}
.modal-container::-webkit-scrollbar{
  width: 11px;
}
.modal-container::-webkit-scrollbar-track{
  background: #d1e5ff;
}
.modal-container::-webkit-scrollbar-thumb{
  background: #4b5767;
  transition: .5s;
}
.modal-container::-webkit-scrollbar-thumb:hover{
  background: #2e353f;
}
.modal-container img{
  height: 50vh;
  width: 50%;
}
.modal-content{
  width: 100%;
  color: var(--clr-white);
  padding: 0px 10px 0px;
}
.modal-content .blogsTitle{
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 50px;
}
.modal-content .blog-description{
  margin-top: 3rem;
  color: var(--clr-grey-white);
  line-height: 1.6;
}
.modal-content .like-comment-line{
    height: 1px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background: grey;
    opacity: 0.2;
    margin-top: 10px  ;
}
.modal-content .like-comment{
  display: flex;
}
.modal-content .likes{
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 600;
}
.modal-content .fa-regular{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.modal-content .fa-solid{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: red;
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #dc3545;
  cursor: pointer;
  transition: var(--transition);
  z-index: 1;
}
.close-btn:hover {
  color: var(--clr-red-light);
  transform: scale(1.3);
}
.mobile-likes{
  position: absolute;
  color: var(--clr-white);
  left: 0;
  bottom: 10px;
  visibility: hidden;
  font-family: 200;
}
.mobile-likes .num-likes{
  font-size: 15px;
  margin-left: 10px;
}
.mobile-likes .fa-heart{
  margin-left: 10px;
  font-size: 1.3rem;
}
.mobile-likes input{
  border: none;
  background: transparent;
  outline: none;
  width: 80%;
  border-bottom: 1px solid var(--clr-black);
  font-size: 20px;
  margin-left: 5px;
  padding: 5px;
  color: var(--clr-white);
}
@media screen and (max-width: 800px) {
  .modal-overlay{
    visibility: visible;
  }
  .img-hover{
    display: block;
  }
  .modal-container {
    width: 90%;
    height: 50%;
    padding: 20px;
  }
  .write-comment .form-group input{
    width: 100%;
  }
  .write-comment .form-group textarea{
    width: 100%;
  }
  .modal-container img{
    height: 20vh;
    width: 95%;
  }
  .modal-content .write-comment button{
    margin-top: 20px;
  }
  .mobile-likes{
    visibility: hidden ;
  }
  .blogs .blog-cards{
    height: 32rem;
    box-shadow: none;
  }
  .mobile-likes hr{
    height: 2px;
    width: 140%;
    margin-bottom: 15px;
    padding: 0px;
    }
}
@media screen and (max-width: 630px) {
  .mobile-likes hr{
    height: 2px;
    width: 90vw;
    margin-bottom: 15px;
    padding: 0px;
    }
}

main{
  display: grid;
  place-content: center;
}
main .inputs{
  position: relative;
  padding: 20px;
  padding-left: 30px;
  width: 100%;
  height: auto;
}
main .inputs input[type=password]{
  margin-top: 25px;
}
main .inputs input[type=submit]{
margin-top: 25px;
border: none;
background: var(--clr-skyblue);
color: var(--clr-white);
cursor: pointer;
font-size: 15px;
}
.form-group{
  position: relative;
}
.form-group input{
  padding-bottom: 5px;
  font-size: 10px;
  width: 400px;
  border:none;
  background: transparent;
  color: var(--clr-white);
  transition: 0.15s all ease;
  outline: none;
  height: 35px;
  border: 1.5px solid #9594a1;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
}
.form-group textarea{
  font-size: 16px;
  width: 400px;
  background: transparent;
  border:none;
  transition: 0.15s all ease;
  border: 1.5px solid #9594a1;
  padding: 10px;
  border-radius: 3px;
  resize: none;
  margin-top: 23px;
  height: 50px;
  color: var(--clr-white);
  outline: none;
  padding: 10px;
}
.form-group input:focus{
  border: 1px solid var(--clr-skyblue);
}
.form-group textarea:focus{
  border: 1px solid var(--clr-skyblue);
}
main .inputs input[type=submit]{
  color: #fff;
}

.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + .form-label {
  transform: translate(5px, -22px) scale(0.9);
  font-size: 17px;
  color: var(--clr-black);
}
.form-group textarea:focus + #form-label,
.form-group textarea:not(:placeholder-shown) + #form-label {
  transform: translate(5px, -22px) scale(0.9);
  font-size: 17px;
  color: var(--clr-black);
}
.form-group .form-label{
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 13px;
  color: grey;
  pointer-events: none;
  transition: 0.15s all ease;
}
.form-group #form-label{
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 13px;
  color: grey;
  pointer-events: none;
  transition: 0.15s all ease;
}

.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + .form-label {
  top: 15px;
  font-size: 13px;
  color: grey;
  left: 0;
  background: var(--clr-big-white);
  padding: 0px 5px 0px;
}
.form-group textarea:focus + #form-label,
.form-group textarea:not(:placeholder-shown) + #form-label {
  top: 40px;
  left: 0;
  font-size: 13px;
  color: grey;
  background: var(--clr-big-white);
  padding: 0px 5px 0px;
}
.list{
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
.commentsDiv{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.myNames{
  color: var(--clr-white);
  font-size: 15px;
  letter-spacing: 1px;
}
.myComment{
  color: var(--clr-grey-white);
  font-size: 13px;
  letter-spacing: 1px;
}

fieldset{
  border: 0.5px solid var(--fieldset-color);
  padding: 10px;
  position: relative;
  padding-right: 50px;
}
legend{
  padding: 0px 8px 2px 0px;
}
.myDates{
 font-size: 9px;
 color: grey;
 position: absolute;
 right: 10px;
 top: 10px;
}
@media screen and (max-width: 500px) {
  fieldset{
  width: 100%;
  }
  .myDates{
    font-size: 9px;
    color: grey;
    position: static;
    margin-top: 8px;
   }
   .list{
    margin-top: 10px;
    margin-left: 0px;
  }
  .number-of-comment{
    margin-top: 5px;
  }
}
.noArticles span{
  color: var(--clr-grey-white);
  position: absolute;
  left: 45%;
}
#model{
  background: #28a745;
  position: absolute;
  bottom: 2%;
  left: 17%;
  transform: translate(-50%,-50%);
  height: 45px;
  width: 30%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: animateModel;
  animation-duration: .5s;
  border-radius: 5px;
  color: #fff;
}
#close{
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  font-size: 23px;
  transition: .2s;
}
#close:hover{
  transform: scale(1.2);
}
#model-container{
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@keyframes animateModel {
  from{
  left: -300px;
  opacity: 0;
  }
  to{
      left: 17%;
      opacity: 1;
  }
}